.cover__subtitle {
  height: 66px;
  max-width: 360px;
  text-align: center;
  margin: 0px auto 245px;
  padding: 0px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    margin: 0px auto 195px;
 }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin: 0px auto 115px;
 }
}