.header {
    width: calc(100% - 96px);
    display: flex;
    padding-top: 28px;
    margin: 0px 48px 56px 48px;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1024px) {
  .header {
    margin: 0px auto 48px auto;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 425px) {
  .header {
    width: calc(100% - 32px);
    padding-top: 16px;
  }
}