.place__paragraph {
    margin: 0px auto 25px 0px;
    padding: 0px;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 29.34px;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26.08px;
    }
  }

  @media screen and (max-width: 620px) {
    .place__paragraph {
        margin: 0px 16px 25px 16px;
    }
  }

  .place__paragraph:last-child{
    margin-bottom: 0px;
  }
}

