.intro {
  height: 429px;
  max-width: 690px;
  margin: 0px auto 92px 92px;
}

@media screen and (max-width: 1024px) {
  .intro {
      margin: 0px auto 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
      max-width: 720px;
      margin: 0px 24px 88px 24px;
  }
}

