.cover {
  display: flex;
  flex-direction: column;
  max-width: 1184px;
  margin: 0px auto 92px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 0px 0px 88px;
 }
}

@media screen and (max-width: 425px) {
  .cover {
    margin: 0px 0px 64px;
 }
}